.banner h5 {
  color: #23d89c;
  text-transform: uppercase;
}
.banner h1 {
  font-size: 60px;
  font-weight: 700;
}
.banner p {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 400;
}
.services-section {
  padding: 50px 0;
  margin: 50px 0;
}
.services-section-header {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

/* for mobile devices */
@media screen and (max-width: 688px) {
  .banner h5 {
    font-size: 14px;
  }
  .banner h1 {
    font-size: 40px;
  }
  .services-section-header {
    font-size: 26px;
    letter-spacing: 3px;
  }
  footer {
    margin-top: 20px;
  }
}
